<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông Báo Có Phản Hồi Mới</title>
</head>
<body>
  <h1>Xin chào <%= name %>,</h1>
  <p>Đã có một phản hồi mới được thêm vào câu hỏi của bạn trong video "<%= title %>".</p>
  <p>Vui lòng đăng nhập vào trang web của chúng tôi để xem phản hồi và tiếp tục thảo luận.</p>
  <p>Cảm ơn bạn đã là một phần của cộng đồng chúng tôi!</p>
</body>
</html>
